<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpaApp</title>

    <link rel="stylesheet" href="~/app/style.css" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">SpaApp</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#/about">About</a></li>
                    <li><a href="#/about/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <div class="app-main">
        </div>
        <hr />
        <footer>
            <p>&copy; 2017 - SpaApp</p>
        </footer>
    </div>

    <script src="https://rawgit.com/flatiron/director/master/build/director.min.js"></script>
    <script src="~/app/SpaApp.vendor.js"></script>
    <script src="~/app/SpaApp.app.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>